<div class="container d-flex h-100">
  <div
    class="row my-auto w-100 justify-content-center align-items-center"
    *ngIf="email"
  >
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>{{ email.subject }}</h3>
          <p>From: {{ email.from }}</p>
          <p>To: {{ email.to }}</p>
          <p>Date: {{ email.createdAt | date: "short" }}</p>
        </div>
        <div class="card-body">
          <p>{{ email.body }}</p>
        </div>
      </div>
    </div>

    <div class="col-12 mt-3" [formGroup]="replyForm">
      <textarea
        class="form-control"
        rows="5"
        formControlName="body"
      ></textarea>

      <div class="d-flex mt-3">
        <button class="btn btn-success ms-auto" (click)="replyEmail()">
          Reply
        </button>
      </div>
    </div>
  </div>
</div>
